.btn_caregiver {
    display: inline;
    color: rgba(255,255,255,.3);
    float: right;
    margin-right: 40px;
    text-transform: uppercase;    
}

.btn_caregiver:hover {
    cursor: pointer;
    color: rgba(255,255,255,1);
}

.container {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
  
.frame {
  height: 100%;
  width: 100%;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.33);
  background: linear-gradient( rgba(80,45,87,0.75), rgba(80,45,87,0.95)), no-repeat center center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  border-top: solid 1px rgba(255,255,255,.5);
  border-radius: 5px;
  box-shadow: 1px 3px 7px 1px rgba(0,0,0,0.33);
  overflow: hidden;
  transition: all .5s ease;
}

.form-styling option {
  background: rgb(133,108,137);
}

#time {
  color: #fff;
  background: rgba(255,255,255,.2);
}

#payment {
  color: #fff;
  background: rgba(255,255,255,.2);
}

td.enrollment_options {
  color: #fff !important;
}

.frame-long {
  /*height: 615px;*/
}

.frame-short {
  /*height: 400px;
  margin-top: 50px;
  box-shadow: 0px 2px 7px rgba(0,0,0,0.1);*/
}

.navigation {
  width: 100%;
  height: 100px;
  padding-top: 40px;
  opacity: 1;
  transition: all .5s ease;
}

.nav-up {
  transform: translateY(-100px);
  opacity: 0;
}

.btn_contact, .btn_CPR, .btn_1stAid {
  padding-left: 10px;
  font-size: 18px;
  display: inline;
  text-align: left;
  text-transform: uppercase;
  padding-right: 10px;
  color: #ffffff;
}

.fstAid-active {
  padding-bottom: 10px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: solid 2px rgba(250,149,28);
  transition: all .25s ease;
  cursor: pointer;
  transition: all .25s ease;
  margin-bottom: -1px;
}

.fstAid-inactive {
  padding-bottom: 0;
  color: rgba(255,255,255,.3);
  text-decoration: none;
  border-bottom: none;
  cursor: pointer;
  transition: all .25s ease;
}

.contact-active {
  padding-bottom: 10px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: solid 2px rgba(250,149,28);
  transition: all .25s ease;
  cursor: pointer;
  margin-bottom: -1px;
}

.contact-inactive {
  padding-bottom: 0;
  color: rgba(255,255,255,.3);
  text-decoration: none;
  border-bottom: none;
  cursor: pointer;
  transition: all .25s ease;
}

.CPR-active {
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  border-bottom: solid 2px rgba(250,149,28); /*#1059FF;*/
  padding-bottom: 10px;
  transition: all .25s ease;
  margin-bottom: -1px;
}

.CPR-inactive {
  cursor: pointer;
  color: rgba(255,255,255,.3);
  text-decoration: none;
  transition: all .25s ease;
}

.form-1stAid-left {
  transform: translateX(-400px);
  opacity: .0;
}

.form-contact-left {
  transform: translateX(-400px);
  opacity: 1;
}

.form-CPR-left {
  transform: translateX(-399px);
  opacity: 1;
}

.form-contact-off {
  display: none !important;
  overflow: hidden;
}

.form-CPR-off {
  display: none !important;
  overflow: hidden;
}

.form-1stAid-off {
  display: none !important;
  overflow: hidden;
}

.form-CPR-down {
  top: 0px;
  opacity: 0;
}

.form-contact {
  width: 100%;
  height: 100%;
  font-size: 16px;
  top: 0px;
  font-weight: 300;
  padding-left: 37px;
  padding-right: 37px;
  padding-top: 10px;
  transition: opacity .5s ease, transform .5s ease;
}

.form-CPR {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 300;
  padding-left: 37px;
  padding-right: 37px;
  padding-top: 10px;
  position: relative;
  top: 0px;
  left: 0px;
  opacity: 1;
  transition: all .5s ease;
}

.form-1stAid {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 300;
  padding-left: 37px;
  position: relative;
  top: 0px;
  padding-right: 37px;
  padding-top: 10px;
  transition: opacity .5s ease, transform .5s ease;
}

.form_desc_cpr, .form_desc_aid {
  color: #fff;
  margin-bottom: 25px;
}

/*https://www.iconfinder.com/icons/226587/clock_icon*/
input[type="date"]::-webkit-calendar-picker-indicator {
  /*color: rgba(255, 255, 255, 1);*/ 
  opacity: 0.6;
  display: block;
  background: url('../img/icons/calendar_icon2_15x16.png') no-repeat; /*https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png*/
  width: 15px;
  height: 15px;
  padding-right: 10px;
  border-width: thin;
}

@media (max-width: 400px) {
  .btn_caregiver {
    margin-top: 2px;
    margin-right: 10px !important;
  }

  .btn_contact, .btn_CPR, .btn_1stAid {
    padding-right: 0px !important;
  }
}

@media (max-width: 335px) {
  .btn_caregiver {
    float: left;
    margin-left: 10px !important;
    margin-top: -53px !important;
  }
}

.pay_btn {
  background: rgb(0,48,135);
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  padding: 15px 30px;
  text-decoration: none;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  letter-spacing: 1px;
  cursor: pointer;
}

.pay_btn:hover {
  background: rgb(37, 82, 166);
}

.pay_btn:active {
  background: rgba(0,48,135, 0.9);
  -webkit-box-shadow: 0px 0x 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
  transform: translateY(4px);
}

select:active, select:hover {
  outline-color: rgba(255, 255, 255, 0.7);
}

#paypal-button-container {
  background: rgba(255, 255, 255, 0.33);
  border-radius: 30px;
  margin-bottom: 50px;
}

select {
  border-radius: 25px;
}

select option:focus, select option:checked {
  background: rgba(250,149,28);
  outline-color: rgba(250,149,28);
  border: solid rgba(250,149,28);
  outline: none;
} 

select#cna_cpr, select#cna_aid, select#time_cpr, select#time_aid {
  color: #fff !important;
}

#ss-submit_cpr:disabled {
  opacity: 0;
  cursor: default;
}

#ss-submit_cpr:enabled {
  opacity: 1;
  cursor: pointer;
}

#ss-submit_aid:disabled {
  opacity: 0;
  cursor: default;
}

#ss-submit_aid:enabled {
  opacity: 1;
  cursor: pointer;
}

.success {
  width: 80%;
  height: 150px;
  text-align: center;
  position: relative;
  top: -890px;
  left: 450px;
  opacity: .0;
  transition: all .8s .4s ease;
}

.success-left {
  transform: translateX(-406px);
  opacity: 1;
}

.successtext {
  color: #ffffff;
    font-size: 16px;
    font-weight: 300;
  margin-top: -35px;
  padding-left: 37px;
  padding-right: 37px;
}

textarea#msg {
  padding-top: 10px;
  color: #ffffff;
  padding-left: 20px;
  border-radius: 25px;
  width: 100%;
  height: 50px !important;
}

textarea#msg_cpr, textarea#msg_aid {
  padding-left: 20px;
  padding-top: 10px;
  height: 65px;
  color: #fff;
}

#check path {
  stroke: #ffffff;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-width: .85px;
  stroke-dasharray: 60px 300px;
  stroke-dashoffset: -166px;
  fill: rgba(255,255,255,.0);
  transition: stroke-dashoffset 2s ease .5s, fill 1.5s ease 1.0s;
}

#check.checked path {
    stroke-dashoffset: 33px;
    fill: rgba(255,255,255,.03);
}

.form-contact, .form-CPR input, .form-1stAid input {
  color: #ffffff;
  font-size: 13px;
}

.form-styling {
  font-family: FontAwesome, 'Open Sans', Arial, Helvetica;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  width: 100%;
  height: 35px;
  padding-left: 15px;
  border: none;
  border-radius: 20px;
  margin-bottom: 20px;
  background: rgba(255,255,255,.2);
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.5);
  opacity: 1; /* Firefox */
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.5);
}

input::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(255, 255, 255, 0.5);
}

label {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 13px;
  padding-left: 15px;
  padding-bottom: 10px;
  color: rgba(255,255,255,.7);
  display: block;
}

:focus {
  outline: none;
}

.form-contact input:focus, textarea:focus, .form-CPR input:focus, textarea:focus, .form-1stAid input:focus, textarea:focus {
  background: rgba(255,255,255,.3);
  border: none; 
  padding-right: 40px;
  transition: .5s ease;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  display: none;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 85px;
  padding-top: 2px;
  cursor: pointer;
  margin-top: 8px;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  width: 65px; 
  height: 30px;
  background: rgba(255,255,255,.2);
  border-radius: 15px;
  left: 0; 
  top: -3px;
  transition: all .2s ease;
}

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  width: 10px; 
  height: 10px;
  background: rgba(255,255,255,.7);
  border-radius: 50%;
  top: 7px; 
  left: 10px;
  transition: all .2s ease;
}

/* on checked */
[type="checkbox"]:checked + label:before {
  background: rgb(229, 130, 8)/*#0F4FE6*/; 
}

[type="checkbox"]:checked + label:after {
  background: #ffffff;
  top: 7px; 
  left: 45px;
}

[type="checkbox"]:checked + label .ui,
[type="checkbox"]:not(:checked) + label .ui:before,
[type="checkbox"]:checked + label .ui:after {
  position: absolute;
  left: 6px;
  width: 65px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  transition: all .2s ease;
}

[type="checkbox"]:not(:checked) + label .ui:before {
  content: "no";
  left: 32px;
  color: rgba(255,255,255,.7);
}

[type="checkbox"]:checked + label .ui:after {
  content: "yes";
  color: #ffffff;
}

[type="checkbox"]:focus + label:before {
  box-sizing: border-box;
  margin-top: -1px;
}

.btn-1stAid {
  float: left;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  color: #ffffff;
  padding-top: 0px;
  width: 100%;
  height: 35px;
    border: none;
    border-radius: 20px;
  margin-top: 23px;
  background-color: rgba(250,149,28); /*#1059FF;*/
}

.btn-CPR {
  float: left;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  color: #ffffff;
  padding-top: 0px;
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 20px;
  margin-top: 23px;
  background-color: rgba(250,149,28); /*#1059FF;*/
}

.btn-contact {
  float: left;
  padding-top: 0px;
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 20px;
  margin-top: -8px;
}

.btn-animate {
  float: left;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  color: rgba(255,255,255, 1);
  padding-top: 0px;
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 20px;
  margin-top: 23px;
  background-color: rgba(250,149,28, 1); /*rgba(16,89,255, 1);*/
  left: 0px;
  top: 0px;
  transition: all .5s ease, top .5s ease .5s, height .5s ease .5s, background-color .5s ease .75s; 
}

.btn-animate-grow {
  width: 130%;
  height: 625px;
  position: relative;
  left: -55px;
  top: -420px;
  color: rgba(255,255,255,0);
  background-color: rgba(255,255,255,1);
}

.btn-CPR:hover, .btn-contact:hover, .btn-1stAid:hover {
  cursor: pointer; 
  background-color: rgb(233, 130, 5); /*#0F4FE6;*/
  transition: background-color .5s; 
}

.btn_CPR:hover, .btn_contact:hover, .btn_1stAid:hover {
  cursor: pointer; 
  /*background-color: rgb(233, 130, 5); /*#0F4FE6;*/
  transition: background-color .5s;
  transition: color .5s; 
}

.forgot {
  height: 100px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 24px;
  margin-top: -535px;
  border-top: solid 1px rgba(255,255,255,.3);
  transition: all 0.5s ease;
}

.forgot-left {
  transform: translateX(-400px);
  opacity: 0;
}

.forgot-fade {
  opacity: 0;
}

.forgot a {
  color: rgba(255,255,255,.3);
  font-weight: 400;
  font-size: 13px;
  text-decoration: none;
}

.welcome {
  width: 100%;
  height: 50px;
  position: relative;
  color: rgba(250,149,28); /*rgba(35,43,85,0.75);*/
  opacity: 0;
  transition: transform 1.5s ease .25s, opacity .1s ease 1s;
}

.welcome-left {
  transform: translateY(-780px);
  opacity: 1; 
}

/*
.cover-photo {
  height: 150px;
  position: relative;
  left: 0px;  top: -900px;
  background:
    linear-gradient(
    rgba(35,43,85,0.75),
    rgba(35,43,85,0.95));
  background-size: cover;
  opacity: 0;
  transition: all 1.5s ease 0.55s;
}
*/

.cover-photo-down {
  top: -575px;
  opacity: 1;
}

.profile-photo {
  height: 125px;
  width: 125px;
  position: relative;
  border-radius: 70px;
  left: 155px;
  top: -1000px;
  background-size: 100% 135%;
  background-position: 100% 100%;
  opacity: 0;
  transition: top 1.5s ease 0.35s, opacity .75s ease .5s;
  border: solid 3px #ffffff;
}

.profile-photo-down {
  top: -636px;
  opacity: 1;
}

h1 {
  color: #ffffff;
  font-size: 35px;
    font-weight: 300;
  text-align: center;
}

.btn-goback {
  position: relative;
  margin-right: auto;
  top: -400px;
  float: left;
  padding: 8px;
  width: 83%;
  margin-left: 37px;
  margin-right: 37px;
  height: 35px;
  border-radius: 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  color: rgba(250,149,28);
  margin-top: -8px;
  border: solid 1px rgba(250,149,28);
  opacity: 0;
  transition: top 1.5s ease 0.35s, opacity .75s ease .5s;
}

.btn-goback-up {
  top: -1080px;
  opacity: 1;
}

a.btn-goback:hover {
    cursor: pointer; 
    background-color: rgb(215, 119, 0); /*#0F4FE6;*/
    transition: all .5s; 
    color: #ffffff;
}

/* refresh button styling */

#refresh {
    position: fixed;
    bottom: 20px;
    right: 20px; 
    background-color: #ffffff;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    box-shadow: 0px 2px 7px rgba(0,0,0,0.1);
    padding: 13px 0 0 13px;
}

.refreshicon {
    fill: #d3d3d3;
    transform: rotate(0deg);
    transition: fill .25s ease, transform .25s ease;
}

.refreshicon:hover {
  cursor: pointer;
  fill: #1059FF;
  transform: rotate(180deg);
}